@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import "tailwindcss";

/* .carosuel {
    animation-duration: 20s;
    animation-name: carousel-scroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */


.nav-option::after {
    position: relative;
    display: block;
    content: " ";
    background-color: black;
    width: 0;
    height: 2px;
    bottom: 2px;
    transition: width 0.2s ease;
}

.nav-option:hover::after {
    width: 100%;
    transition: width 0.2s ease;
}

.nav-option--selected::after {
    width: 100%;
}

@theme {
    --animate-carosel : carousel-scroll 20s linear infinite;

    --carosel-width: 2106px;
    
    @keyframes carousel-scroll {
        from {
        right:0;
        }
        to {
            right: var(--carosel-width);
        }
    }
}