name: Linter

on:
  push:
    branches:
      - main

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Install ESLint
        run: |
          npm install eslint@latest
      
      - name: Check formatting
        run: |
          npx eslint .